<div>
  <button (click)="toggleSpeaker()">Toggle speaker</button>
  speaker is {{isSpeakerActive ? 'active' : 'not active'}}</div>
<div>
  <form [formGroup]="channels">
    <input formControlName="primary">
    <input formControlName="secondary">
  </form>
</div>
<div class="numpad-grid">
  <button (click)="addNumberToChannel(i +1)" *ngFor="let item of [].constructor(9); let i = index">{{i + 1}}</button>
  <button>*</button>
  <button (click)="addNumberToChannel(0)">0</button>
  <button>#</button>
</div>

<div>
  <button (click)="setPrimaryChannel(channels.controls.primary.value)">set primary</button>
  <button (click)="setSecondaryChannel(channels.controls.secondary.value)">set secondary</button>
</div>

<div>
  <button (click)="toggleMicClick()">turn {{isMicClickEnabled ? 'off' : 'on'}}</button>
  salty-talkie is micclicked {{isMicClickEnabled ? 'on' : 'off'}}
</div>

<div>
  <button (click)="togglePower()">turn {{isPoweredOn ? 'off' : 'on'}}</button>
  salty-talkie is {{isPoweredOn ? 'on' : 'off'}}
</div>
<div>
  <button (click)="turnVolumeUp()">vol up</button>
  <button (click)="turnVolumeDown()">vol down</button>
  volume {{currentVolume}}
</div>

<button (click)="unfocus()">unfocus</button>
