.numpad-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
    ". . .";
}


div + div {
  margin-top: 15px;
}
